html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: initial;
}

body {
    background-color: #FFFBF8;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    color: #3F3B3B;
}

main {
    margin: 170px 0;
}

section {
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 200px;
}

a {
    text-decoration: none;
}

input {
    width: 398px;
    height: 40px;
    margin-bottom: 10px;
}

textarea {
    width: 746px;
    height: 173px;
}

p {
    font-size: 30px;
}

button {
    border-radius: 20px;
    border: none;
    font-size: 24px;
}

.menu-button {
    margin-right: 32px;
    width: 310px;
    height: 125px;
}

.button-contact {
    margin-top: 20px;
    width: 280px;
    height: 100px;
}

.yellow {
    background-color: #FFCE8B;
}

.blue {
    background-color: #6FA0D7;
}

.green {
    background-color: #A8D78E;
}

.otstup {
    padding-top: 80px;
}

.important {
    color: #2F4156;
    font-size: 38px;
    text-align: center;
}

header, footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #567C8D;
}

header a {
    margin-top: 25px;
    color: white;
}

header div {
    display: flex;
    padding-left: 1101px;
}

.header-div a {
    padding-right: 40px;
}

footer {
    bottom: 0;
}

.about {
    float: right;
}

.menu img {
    width: 530px;
}

.work img {
    width: 758px;
    padding-right: 58px;
}

.form {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 300px;
}

.icons {
    width: 100px;
}

.icons p {
    margin-left: 30px;
}

.icon img {
    display: flex;
    flex-wrap: wrap;
    width: 70px;
}

.vk, .tg, .mail {
    display: flex;
    flex-wrap: nowrap;
}
